* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  padding: 5rem 20rem;
  position: relative;
  background-color: #f7f7f7;
}
/* header section */
.game {
  margin: 0 auto;
}
.header {
  font-size: 2rem;
}
@media (max-width: 900px) {
  .header {
    font-size: 2.5rem;
  }
}
.how-to-play {
  padding-top: 1rem;
}
.how-to-play-button {
  background-color: black;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  color: #f7f7f7;
  margin-bottom: 1rem;
}
.how-to-play-text {
  line-height: 1.7;
  font-size: 1rem;
}

.board {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.score-board {
  font-size: 1.5rem;
}
.start-quiz {
  text-align: center;
  background-color: black;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 0.5rem 0;
  color: white;
}
@media (max-width: 900px) {
  .start-quiz {
    width: 85%;
    font-size: 2rem;
    padding: 1rem 0;
  }
}
.score {
  font-weight: bold;
}
.show-answer,
.input {
  display: flex;
  justify-content: space-between;
}

.input {
  margin-top: 0.5rem;
}
.boldness {
  font-weight: lighter;
}
.time {
  font-weight: bold;
  padding-right: 0.3rem;
  font-size: 1.5rem;
}
.text {
  width: 82%;
  border: none;
  padding: 0 0.5rem;
  color: black;
}
@media (max-width: 600px) {
  .text {
    width: 100%;
    padding: 1rem;
  }
  .time {
    font-size: 2rem;
  }
  .score-board {
    font-size: 2rem;
  }
}
.text:placeholder-shown {
  padding-left: 0.5rem;
}
.text::placeholder {
  color: black;
}
.text:focus {
  outline: none;
}
.submit {
  text-decoration: none;
  background-color: black;
  padding: 0.5rem 2rem;
  color: white;
}
/* Extra features */
.hide {
  visibility: hidden;
}
.hidden {
  display: none;
}

/* table */
table {
  max-width: fit-content;
  min-width: auto;
  width: 100%;

  margin-top: 1rem;
  font-size: 1.3rem;
}
@media (max-width: 900px) {
  table {
    width: 80%;
  }
}
th {
  border: none;
  padding: 0.5rem 0.5rem;
}
@media (max-width: 900px) {
  th {
    font-size: 1.5rem;
  }
}
thead {
  background-color: #f7f7f7;
}
tr {
  outline: 0.5px solid rgba(0, 0, 0, 0.049);
}
td {
  /* border-bottom: 0.5px solid rgba(0, 0, 0, 0.14); */
  padding: 5px 2px;
}
@media (max-width: 900px) {
  td,
  .how-to-play-button,
  .how-to-play-text {
    font-size: 2rem;
  }
}
tr {
  border-collapse: separate;
}
.hint {
  text-transform: capitalize;
}
.answer,
.color {
  visibility: hidden;
}
.footer {
  margin-top: 3rem;
}
.give-up {
  display: inline-block;
  padding: 1rem 1rem;
  background-color: black;
  text-decoration: none;
  color: white;
}
.show-status {
  border: 1px solid rgba(0, 0, 0, 0.365);
  padding: 0.5rem 1rem;
  opacity: 0;
  border: none;
}
/* give up section */
.give-up-section {
  margin-top: -4.5rem;
}

.try-again,
.show-answer-btn {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
}
.comment,
.comment-score-1,
.comment-score-2 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.comment {
  margin-top: -3rem;
}
.footer {
  padding: 3rem 2rem;
  font-size: 2rem;
}
@media (max-width: 900px) {
  .comment {
    padding-left: -15rem;
  }
}
.comment-score-1,
.score-2 {
  font-weight: bold;
}

@media (max-width: 1200px) {
  body {
    font-size: 65%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 1200px) {
  body {
    padding: 3rem 15rem;
  }
}
@media (max-width: 900px) {
  body {
    padding: 2rem 8rem;
  }
}
@media (max-width: 600px) {
  body {
    padding: 1rem 5rem;
    padding-bottom: 0;
  }
}

@media (max-width: 900px) {
  .input,
  .board,
  .show-answer {
    width: 85%;
  }
  .submit {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: inline-block;
  }
  .show-status {
    width: 82%;
    font-size: 2rem;
    border: none;
  }
}
@media (max-width: 900px) {
  .comment {
    margin-left: -15rem;
  }
  .show-answer,
  .comment {
    font-size: 1.7rem;
  }
}

@media (max-width: 900px) {
  .footer {
    margin-bottom: 5rem;
    padding: 3rem 2rem;
  }
}
@media (max-width: 400px) {
  .comment {
    padding: 0%;
    margin-left: -2.5rem;
    margin-top: 2rem;
  }

  .input,
  .board,
  .show-answer {
    width: 100%;
  }
  .start-quiz {
    width: 100%;
  }
  table {
    width: 70%;
  }
  td {
    font-size: 1.7rem;
  }
  .show-status {
    width: 95%;
    font-size: 2rem;
    border: none;
  }
}
